* {
    padding: 0px;
    margin: 0px;
}

#navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
}

#logo {
    color: #f08804;
    font-size: 25px;
}

button {
    background-color: #f08804;
}

a {
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

footer {
    background-color: #0f1111;
    color: white;
    text-align: center;
}

#content {
    height: 650px;
}